{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}پنل مدیریتی{% endblock title %}

{% block content %}
<div class="card-header bg-transparent">
    <h3 class="mb-0">CRUD</h3>
</div>
<div class="card-body">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <input type="hidden" name="user" value="{{request.user.id}}" />
    <button type="submit" class="btn btn-success">ثبت اطلاعات</button>
  </form>
</div>
{% endblock content %}
