{% extends "core/base.html" %}

{% block content %}
<div class="card-header bg-transparent">
    <h3 class="mb-0">Create Task</h3>
</div>
<div class="card-body">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}


<div id="div_id_subject" class="form-group"> 
<label for="id_subject" class="col-form-label  requiredField">
Subject<span class="asteriskField">*</span> </label> <div class="">
<input type="text" name="subject" maxlength="200" class="textinput textInput form-control" required id="id_subject">
</div>
</div>
<div id="div_id_description" class="form-group">
<label for="id_description" class="col-form-label  requiredField">
Description<span class="asteriskField">*</span>
</label>
<div class="">
    <textarea name="description" cols="40" rows="10" maxlength="400" class="textarea form-control" required id="id_description"></textarea>
</div>
</div>
    <div id="div_id_deadline" class="form-group">
        <label for="id_deadline" class="col-form-label  requiredField">
            Deadline<span class="asteriskField">*</span>
        </label>
        <div class="form-group">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" placeholder="YYYY-MM-DD hh:mm:ss" required id="id_deadline" name="deadline" class="datetimepicker-input" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_id_assignee" class="form-group">
        <label for="id_assignee" class="col-form-label  requiredField">
            Assignee<span class="asteriskField">*</span> 
        </label> 
        <div class="">
            <select name="assignee" class="selectmultiple form-control" required id="id_assignee" multiple> 
            {% for objAssignee in managerAssigneeChoices %}
                <option value="{{objAssignee.key}}">{{objAssignee.value}}</option> 
            {% endfor %}
            </select> 
        </div> 
    </div>

    <input type="hidden" name="user" value="{{request.user.id}}" /><br>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
{% endblock content %}
